.content-wrapper{
    background-image: url('bg.jpg');
}
.page-header{
    color: white;
}
.box-title{
    color:white;
}
.box-header{
    text-align: center;
    /* font-size: 50px; */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color:  rgb(0, 94, 255);
}
.box.box-solid{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.text-center{
    color: white;
}